* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.header  {
    display: flex;
    justify-content:space-around;
    background: rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

.header-avatar {
    list-style: none;
}

.header-avatar-image {
    width: 60px;
    height: 60px;
    margin-top: 8px;
}

.header-item{
    list-style: none;
    display: flex;
    align-items: center;
}

.header-item-select {
    width: 6vw;
    display: inline-block;
    color: #fff;
    font-weight: 20px;
}
.header-item-right {
    display: flex;
}

.content-home-img {
    width: 100vw;
    height: 100vh;
}

.content-countdown-img {
    margin-top: 10vh;
    width: 100vw;
    height: 100vh;
}