.content-team__container {
  display: flex;
  text-align: center;
  margin-top: 10vh;
}

.content-team__header {
  text-align: center;
}

.content_img {
  border-radius: 100%;
  max-width: 70%;
  max-height: 100%;
  padding-top: 0px;
}
.content-team-column {
  text-align: center;
}
.title {
  font-family: "laug";
  font-size: 36px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: bold;
}
.slogan {
  font-family: "laug";
  font-size: 30px;
}
.memory-container {
  background: rgba(245, 226, 228, 0.5);
  position: absolute;
}
.memory-img {
  text-align: center;
}
.memory-album {
  text-align: center;
  margin-top: 2%;
}
.memory-album img {
  padding: 1%;
  max-width: 100%;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.noidung {
  max-height: 19%;
  max-width: 100%;
  overflow: hidden;
  padding: 5%;
}

.zoomin img {
  max-height: 100%;
  max-width: 100%;
}
.zoomin img:hover {
  max-height: 100%;
  max-width: 100%;
  transform: scale(1.5);
}
a[data-fancybox] img {
  cursor: zoom-in;
}

.fancybox-zoomIn {
  animation: 0.25s ease both fancybox-zoomIn;
}

.fancybox-zoomOut {
  animation: 0.15s ease both fancybox-zoomOut;
}

@keyframes fancybox-zoomIn {
  from {
    opacity: 0;
    transform: scale(0.75);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fancybox-zoomOut {
  to {
    opacity: 0;
    transform: scale(1.25);
  }
}
