
.content-folk__header {
    display: block;
    margin-top: 1500px !important;
}

.footer{
    background-image: url('../img/Quy-nhơn.jpg');
    background-size: cover;
    padding-top: 10px;
    height: 350px;
    width: 100%;
}

.footer-text{
    color: rgb(10, 7, 7);

}
.img-footer{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 5px;
}
.img-footer2{
    height: 50px;
    width: 100px;
    
    margin-left: 5px;
}

.content-folk{
    margin: 10px;
    margin-left: -10px;
    height: 700px;
    background-image: url('../img/folk.png');
    background-size: cover;
}
@font-face{
    src:url(../font/IndieFlower-Regular.ttf);
    font-family: font-folk;
}
.folk-content{
    margin: 25% 0;
    font-size: 35px;
    font-family: font-folk;
}
