.nav {
    display: flex;
    justify-content:space-around;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    justify-content: space-around;
    z-index: 100;
}

#navbar.scrolled {
    display: flex;
    justify-content:space-around;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}


.header-nav.scrolled {
    background-color: rgba(0,0,0,0.5) !important;
    transition: background-color 200ms linear;
}

.nav__pc {
    display: flex;
}

.nav__list {
    display: flex;
    list-style: none;
    margin-top: 2.2vh;
    margin-left:10vw;
}

.header-avatar {
    list-style: none;
}

.header-avatar-image {
    width: 60px;
    height: 60px;
    margin-top: 8px;
}

.nav__link {
    text-decoration: none;
    margin-right: 48px;
}

.nav__link a {
    color: #fff;
}
/* Mobile nav  */

.nav__bars-btn {
    display: flex;
    color: #fff;
    display: none;
    width: 50px;
    height: 50px;
    margin-left: 800px;
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    animation: fadeIn linear 0.3s;
}

.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width:320px;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s , opacity linear 0.3s;
}
.nav__mobile-list {
    margin-top: 24px;
}

.nav__mobile-link {
    text-decoration: none;
    color: #333;
    display: block;
    padding:8px 0;
    font-size: 1.4rem;

}

.nav__link-mobile {
    margin-top: 30px;
}

.nav__mobile-close {
    width: 28px;
    height: 28px;
    color: #666;
    position:absolute;
    top:0.4rem;
    right: 1rem;
}

.nav__input {
    display:none;
}

.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__input:checked ~ .nav__mobile {
    transform: translateX(0);
    opacity: 1;
}


@media (max-width: 1023px) {
    .nav__bars-btn {
       display: block;
    }
    .nav__pc {
        display: none;
    }
}

@media (max-width: 900px) {
    .nav__bars-btn {
       display: block;
       margin-left: 500px;
    }
    .nav__pc {
        display: none;
    }
}

@media (max-width: 600px) {
    .nav__bars-btn {
       display: block;
       margin-left: 300px;
    }
    .nav__pc {
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}